//colors
$green: #98c638;
$orange: #e68e3a;

$gray-50: #f7f8fa;
$gray-100: #e6e8eb;
$gray-200: #afb2b1;
$gray-500: #808080;
$gray-800: #494d4b;
$white: #fff;

//Shadows
$shadow-gray: rgb(219, 219, 219);


